ul li{
    list-style: none;
}
li{
    font-size: 15px;
    padding: 0 20px;
}
li a{
    text-decoration: none;
    color: #3f4242;
}
/* .icon{
    font-size: 15px;
    padding: 0 20px;
} */
li a:hover, .icon:hover{
    color: #e7272d;
    cursor: pointer;
}
li .cart-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e7272d;
    display: inline-block;
    position: relative;
    right: 35px;
    bottom: 10px;
    color: white;
    text-align: center;
}